.kr-head {
  font-weight: 600;
  font-size: larger;
}

.kr-text {
  font-size: medium;
}

.skill-title {
  color: var(--title-gold);
  font-size: var(--fs-4);
  line-height: 2.0;
}


/* skill */
.skill-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.skill-item {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 18px;
  padding: 30px;
}

.skill-icon-box {
  margin-bottom: 0;
  margin-top: 5px;
}

.skill-content-box { 
  text-align: left; 
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.skill-icon-wrap {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  /* border: 1px solid var(--jet); */
  border-radius: 10px;
  padding: 5px;
  padding-right: 10px;
  box-shadow: var(--shadow-1);
  margin-right: 10px;
  margin-bottom: 10px;
}
.skill-icon-wrap:hover {
  filter: invert(0.19) sepia(0.5) saturate(6.7) hue-rotate(0deg) brightness(0.88);
  cursor: pointer;
}
.skill-item-text {
  color: var(--light-gray);
  font-size: var(--fs-4);
  font-weight: var(--fw-3);
  line-height: 1.6;
}
.skill-icon {
  width: 22px;
  margin-right: 10px;
  color: #fff;
}





/* license */

.license {
  margin-top: 30px;
}
.license-title {
  margin-bottom: 20px;
}
.license-list {
  margin-top: 10px;
  font-size: var(--fs-6);
}
.license-wrap:not(:last-child) { margin-bottom: 20px; }

.license-wrap {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.license-list span {
  color: var(--vegas-gold);
  font-weight: var(--fw-300);
  line-height: 1.6;
  margin-left: 20px;
}



/*-----------------------------------*\
  #project
\*-----------------------------------*/

.project-posts { margin-bottom: 10px; }

.project-posts-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.project-post-item {
  display: flex;
  width: 100%;

}

.project-post-item > a {
  position: relative;
  background: var(--border-gradient-onyx);
  width: 100%;
  height: 100%;
  box-shadow: var(--shadow-4);
  border-radius: 16px;
  z-index: 1;
  /* display: flex; */
}

.project-post-item > a::before {
  content: "";
  position: absolute;
  inset: 1px;
  border-radius: inherit;
  background: var(--eerie-black-1);
  z-index: -1;
}

.project-banner-box {
  /* width: 50%; */
  height: auto;
  border-radius: 12px;
  overflow: hidden;
}

.project-banner-box img {
  width: 102%;
  height: 102%;
  object-fit: cover;
  transition: var(--transition-1);
}

.project-post-item > a:hover .project-banner-box img { 
  transform: scale(1.1); 
}

.project-content { 
  padding: 25px; 
  /* width: 50%; */
}

.project-meta {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 7px;
  margin-bottom: 10px;
}

.project-meta :is(.project-category, time) {
  color: var(--light-gray-70);
  font-size: var(--fs-6);
  font-weight: var(--fw-300);
}

.project-meta .dot {
  background: var(--light-gray-70);
  width: 4px;
  height: 4px;
  border-radius: 4px;
}

.project-item-title {
  margin-bottom: 10px;
  line-height: 1.3;
  transition: var(--transition-1);
}

.project-post-item > a:hover .project-item-title { color: var(--orange-yellow-crayola); }

.project-text {
  color: var(--light-gray);
  font-size: var(--fs-6);
  font-weight: var(--fw-300);
  line-height: 1.6;
}
.project-script {
  margin-bottom: 15px;
}


.project-link-wrap {
  display: flex;
}

.project-link-title {
  color: var(--title-gold);
  font-size: var(--fs-5);
  line-height: 1.6;
  width: fit-content;
  margin-right: 10px;
  min-width: 30px;
}
.project-link-a {
  width: fit-content;
}


.link-wrap {
  display: flex;
  flex-wrap: wrap;
}
.link-content .title {
  color: var(--white-1);
  background: var(--bg-gradient-yellow-2);
  font-size: var(--fs-7);
  font-weight: var(--fw-300);
  width: max-content;
  padding: 4px 12px;
  border-radius: 8px;
  margin-bottom: 8px;
  margin-right: 6px;
  transition: var(--transition-1);
  border: 1px solid var(--jet);
}
.link-content .title:hover {
  background: var(--text-gradient-yellow);
  color: var(--onyx);
  transition: var(--transition-1);
}

.project-list {
  margin-top: 10px;
  font-size: var(--fs-6);
}
.project-wrap:not(:last-child) { margin-bottom: 5px; }

.project-wrap {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.project-list h5 {
  color: var(--vegas-gold);
  font-weight: var(--fw-600);
  min-width: 56px;
}
.project-list span {
  line-height: 1.6;
  margin-left: 15px;
}